.button {
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  color: #00a1ac;
  background-color: transparent;
  border: 2px solid #00a1ac;
  border-radius: 8px;
  outline: none;
}
