.employee {
  padding: 40px 100px;
  display: block;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(to top, #008e9d, #00a1ac);
}

.employee__title {
  font-size: 4rem;
}

.employee hr {
  margin: 10px 0;
  height: 1px;
  background-color: #fff;
  border: none;
}

.employee__inner {
  margin: 0 -15px;
  display: flex;
  flex-wrap: nowrap;
}

.employee__wrap {
  padding: 1rem 15px 0;
}

.employee__wrap_1_3 {
  flex-basis: 33.3333%;
}

.employee__wrap_2_3 {
  flex-basis: 66.6666%;
}

.employee__table {
  width: 100%;
  font-size: 2rem;
}

.employee__table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.employee__table tr {
  border-top: 1px solid #7fcad1;
}

.employee__table tr:first-child {
  border-top: none;
}

.employee__table a {
  color: #fff;
}

.employee__info {
  padding-right: 10px;
  width: 33.3333%;
  color: #7fcad1;
}
