.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #008e9d, #00a1ac);
}

.login__form {
  width: 400px;
}

.login__wrap {
  margin-top: 20px;
  text-align: center;
}

.login__wrap:first-child {
  margin-top: 0;
}

.login__button {
  color: #fff;
  border-color: #fff;
}
